/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *     http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
  margin-left: 12px;
}

h1 {
  font-family: Corbel, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 230%;
  font-weight: bold;
}

h2 {
  font-family: Corbel, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 170%;
  font-weight: bold;
}

a {
  color: #009000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.visited {
  color: #090;
  text-decoration: none;
}

p.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

p.center {
  text-align: center;
}

table.lists {
  border-collapse: collapse;
  text-align: left;
}

th.lists {
  font-weight: bold;
  color: black;
  padding: 2px 10px 10px 10px;
  border-bottom: 2px solid black;
}

td.lists {
  border-bottom: 1px solid #666;
  padding: 6px 10px;
}

table.masters {
  border-collapse: collapse;
  table-layout:fixed;
}

td.masters-first {
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-left: thin solid black;
}

td.masters-middle {
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-left: thin solid black;
}

td.masters-right {
  border-top: thin solid black;
  border-bottom: thin solid black;
  border-left: thin solid black;
  border-right: thin solid black;
}
