[MASTER]
ignore=.git
ignore-patterns=cpplint.py
extension-pkg-whitelist=ujson

[MESSAGES CONTROL]
disable=I0011,no-self-use,fixme,invalid-name,file-ignored

[REPORTS]
reports=no

[BASIC]
bad-functions=input,file
good-names=i,j,k,f,ip,_
min-public-methods=0

[FORMAT]
max-line-length=80
indent-string='    '

[DESIGN]
max-branches=20
max-returns=100

[EXCEPTIONS]
overgeneral-exceptions=

[TYPECHECK]
ignored-modules = netifaces

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=100
