<!DOCTYPE html>
<html lang="en" ng-app="mesos">
  <head>
    <meta charset="utf-8">
    <title>Mesos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap-3.3.6.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-table-1.11.1.min.css" rel="stylesheet">
    <link href="assets/css/mesos.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/ico/favicon.ico">
  </head>

  <body>
    <div data-ng-show="doneLoading" style="width: 75px; margin: 0 auto; text-align: center;">
      <img src="assets/img/loading.gif" height="64" width="64" alt="">
    </div>

    <div ng-controller="MainCtrl">
      <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-ng-click="navbarExpanded = !navbarExpanded">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
              <img src="assets/img/mesos-logo.png" alt="Apache Mesos">
            </a>
          </div>

          <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav">
              <li data-ng-class="{active: (navbarActiveTab === 'frameworks')}">
                <a href="#/frameworks">Frameworks</a>
              </li>
              <li data-ng-class="{active: (navbarActiveTab === 'agents')}">
                <a href="#/agents">Agents</a>
              </li>
              <li data-ng-class="{active: (navbarActiveTab === 'roles')}">
                <a href="#/roles">Roles</a>
              </li>
              <li data-ng-class="{active: (navbarActiveTab === 'offers')}">
                <a href="#/offers">Offers</a>
              </li>
              <li data-ng-class="{active: (navbarActiveTab === 'maintenance')}">
                <a href="#/maintenance">Maintenance</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a class="btn disabled" data-ng-cloak>{{state.cluster}}</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="container-fluid">
        <div class="alert" data-ng-show="state &amp;&amp; !state.leader">
          <strong>No master is currently leading ...</strong>
        </div>

        <div data-ng-repeat="alert in currentAlerts" class="alert alert-{{ alert.type }}">
          <p data-ng-show="alert.title">
            <strong>{{ alert.title }}</strong>
          </p>
          {{ alert.message }}
          <ul data-ng-show="alert.bullets" style="margin-bottom: 0;">
            <li data-ng-repeat="bullet in alert.bullets">
              {{ bullet }}
            </li>
          </ul>
        </div>

        <div ng-view></div>
      </div>
    </div>

    <script type="text/ng-template" id="template/dialog/master-gone.html">
      <div class="modal-header">
        <h4 class="modal-title">
          Failed to connect to {{rootScope.$location.host()}}:{{rootScope.$location.port()}}!
        </h4>
      </div>
      <div class="modal-body">
          Retrying in <b>{{rootScope.retry / 1000}}</b> seconds...
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="$close()">Try now</button>
      </div>
    </script>

    <script type="text/ng-template" id="template/dialog/message.html">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <a data-ng-repeat="btn in buttons" data-ng-click="$close(btn.result)"
          class="btn btn-default">
          {{ btn.label }}
        </a>
      </div>
    </script>

    <script src="assets/libs/jquery-3.6.0.min.js"></script>
    <script src="assets/libs/underscore-1.4.3.min.js"></script>
    <script src="assets/libs/clipboard-1.5.16.min.js"></script>
    <script src="assets/libs/angular-1.2.32.min.js"></script>
    <script src="assets/libs/angular-route-1.2.32.min.js"></script>
    <script src="assets/libs/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script src="assets/libs/bootstrap-table-1.11.1.min.js"></script>
    <script src="assets/libs/relative-date.js"></script>

    <script src="app/app.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers.js"></script>
  </body>
</html>
