.*
!.gitignore
*~
config.cache
tags
autom4te.cache
libtool
Makefile
!frameworks/*/Makefile
*.a
*.d
*.o
*.so
*.lo
*.la
*.swp
*.aux
*.bbl
*.blg
*.log
*.class
*.pyc
*.dSYM
*.dylib
config.log
config.status
src/work
mesos_wrap.cpp
mesos_wrap.h
bin/master
bin/slaves
src/config/config.hpp
!src/config/config.hpp.in
src/swig/java/mesos.jar
src/webui/master/swig/master.py
src/webui/master/swig/master_wrap.cpp
src/webui/master/swig/master_wrap.h
src/webui/slave/swig/slave.py
src/webui/slave/swig/slave_wrap.cpp
src/webui/slave/swig/slave_wrap.h
third_party/glog-0.3.1/demangle_unittest
third_party/glog-0.3.1/configure
third_party/glog-0.3.1/src/config.h.in
third_party/glog-0.3.1/libglog.pc
third_party/glog-0.3.1/logging_striptest0
third_party/glog-0.3.1/logging_striptest10
third_party/glog-0.3.1/logging_striptest2
third_party/glog-0.3.1/logging_unittest
third_party/glog-0.3.1/signalhandler_unittest
third_party/glog-0.3.1/src/glog/logging.h
third_party/glog-0.3.1/src/glog/raw_logging.h
third_party/glog-0.3.1/src/glog/stl_logging.h
third_party/glog-0.3.1/src/glog/vlog_is_on.h
third_party/glog-0.3.1/src/stamp-h1
third_party/glog-0.3.1/stacktrace_unittest
third_party/glog-0.3.1/stl_logging_unittest
third_party/glog-0.3.1/symbolize_unittest
third_party/glog-0.3.1/utilities_unittest
third_party/libprocess/third_party/libev-3.8/stamp-h1
third_party/glog-0.3.1/src/config.h
third_party/gtest-1.5.0/configure
third_party/gtest-1.5.0/build-aux/config.h
third_party/gtest-1.5.0/build-aux/stamp-h1
third_party/gtest-1.5.0/scripts/gtest-config
third_party/libprocess/third_party/libev-3.8/config.h
third_party/zookeeper-3.3.1/src/c/cli_mt
third_party/zookeeper-3.3.1/src/c/cli_st
third_party/zookeeper-3.3.1/src/c/config.h
third_party/zookeeper-3.3.1/src/c/load_gen
third_party/zookeeper-3.3.1/src/c/stamp-h1
src/alltests
src/conf/mesos.conf
src/cpp-test-executor
src/cpp-test-framework
src/logs
src/mesos-local
src/mesos-master
src/mesos-slave
src/mesos-projd
src/mesos-launcher
src/mesos-getconf
src/memhog
src/memhog-executor
src/test-framework
src/test-executor
src/scheduled-memhog
src/swig/java/mesos
src/swig/python/mesos.py
src/test_output
