.*
!.gitignore
config.cache
tags
autom4te.cache
libtool
Makefile
!frameworks/*/Makefile
*.a
*.d
*.o
*.so
*.lo
*.la
*.swp
*.aux
*.bbl
*.blg
*.log
*.class
*.pyc
config.log
config.status
src/work
nexus_wrap.cpp
nexus_wrap.h
src/config.hpp
!src/config.hpp.in
src/swig/java/nexus.jar
src/webui/master/swig/master.py
src/webui/master/swig/master_wrap.cpp
src/webui/master/swig/master_wrap.h
src/webui/slave/swig/slave.py
src/webui/slave/swig/slave_wrap.cpp
src/webui/slave/swig/slave_wrap.h
src/third_party/glog-0.3.0/demangle_unittest
src/third_party/glog-0.3.0/libglog.pc
src/third_party/glog-0.3.0/logging_striptest0
src/third_party/glog-0.3.0/logging_striptest10
src/third_party/glog-0.3.0/logging_striptest2
src/third_party/glog-0.3.0/logging_unittest
src/third_party/glog-0.3.0/signalhandler_unittest
src/third_party/glog-0.3.0/src/glog/logging.h
src/third_party/glog-0.3.0/src/glog/raw_logging.h
src/third_party/glog-0.3.0/src/glog/stl_logging.h
src/third_party/glog-0.3.0/src/glog/vlog_is_on.h
src/third_party/glog-0.3.0/src/stamp-h1
src/third_party/glog-0.3.0/stacktrace_unittest
src/third_party/glog-0.3.0/stl_logging_unittest
src/third_party/glog-0.3.0/symbolize_unittest
src/third_party/glog-0.3.0/utilities_unittest
src/third_party/libprocess/third_party/libev/stamp-h1
src/third_party/glog-0.3.0/src/config.h
src/third_party/gtest-1.4.0-patched/build-aux/config.h
src/third_party/gtest-1.4.0-patched/build-aux/stamp-h1
src/third_party/gtest-1.4.0-patched/scripts/gtest-config
src/alltests
src/cpp-test-executor
src/cpp-test-framework
src/nexus-local
src/nexus-master
src/nexus-slave
src/nexus-projd
src/nexus-launcher
src/memhog
src/memhog-executor
src/test-framework
src/test-executor
src/swig/java/nexus
src/swig/python/nexus.py
