.*
!.gitignore
*~
config.cache
tags
autom4te.cache
libtool
Makefile
!frameworks/*/Makefile
*.a
*.d
*.o
*.so
*.lo
*.la
*.swp
*.aux
*.bbl
*.blg
*.log
*.class
*.conf
*.pyc
*.dSYM
*.dylib
config.log
config.status
src/work
mesos_wrap.cpp
mesos_wrap.h
src/config.hpp
!src/config.hpp.in
src/swig/java/mesos.jar
src/webui/master/swig/master.py
src/webui/master/swig/master_wrap.cpp
src/webui/master/swig/master_wrap.h
src/webui/slave/swig/slave.py
src/webui/slave/swig/slave_wrap.cpp
src/webui/slave/swig/slave_wrap.h
src/third_party/glog-0.3.1/demangle_unittest
src/third_party/glog-0.3.1/configure
src/third_party/glog-0.3.1/src/config.h.in
src/third_party/glog-0.3.1/libglog.pc
src/third_party/glog-0.3.1/logging_striptest0
src/third_party/glog-0.3.1/logging_striptest10
src/third_party/glog-0.3.1/logging_striptest2
src/third_party/glog-0.3.1/logging_unittest
src/third_party/glog-0.3.1/signalhandler_unittest
src/third_party/glog-0.3.1/src/glog/logging.h
src/third_party/glog-0.3.1/src/glog/raw_logging.h
src/third_party/glog-0.3.1/src/glog/stl_logging.h
src/third_party/glog-0.3.1/src/glog/vlog_is_on.h
src/third_party/glog-0.3.1/src/stamp-h1
src/third_party/glog-0.3.1/stacktrace_unittest
src/third_party/glog-0.3.1/stl_logging_unittest
src/third_party/glog-0.3.1/symbolize_unittest
src/third_party/glog-0.3.1/utilities_unittest
src/third_party/libprocess/third_party/libev/stamp-h1
src/third_party/glog-0.3.1/src/config.h
src/third_party/gtest-1.5.0/configure
src/third_party/gtest-1.5.0/build-aux/config.h
src/third_party/gtest-1.5.0/build-aux/stamp-h1
src/third_party/gtest-1.5.0/scripts/gtest-config
src/third_party/libprocess/third_party/libev-3.8/config.h
src/third_party/zookeeper-3.3.1/src/c/cli_mt
src/third_party/zookeeper-3.3.1/src/c/cli_st
src/third_party/zookeeper-3.3.1/src/c/config.h
src/third_party/zookeeper-3.3.1/src/c/load_gen
src/third_party/zookeeper-3.3.1/src/c/stamp-h1
src/alltests
src/cpp-test-executor
src/cpp-test-framework
src/mesos-local
src/mesos-master
src/mesos-slave
src/mesos-projd
src/mesos-launcher
src/memhog
src/memhog-executor
src/test-framework
src/test-executor
src/scheduled-memhog
src/swig/java/mesos
src/swig/python/mesos.py
src/test_output
