/*
 * BOOTSTRAP OVERRIDES
 */

.table thead th {
  vertical-align: top;
}

/*
 * /BOOTSTRAP OVERRIDES
 */


body {
  /* Add space for fixed position navbar. */
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    /* Mobile devices 979px and narrower use a statically positioned navbar */
    /* and therefore need no padding for the <body>. */
    /* */
    /* @see http://twitter.github.io/bootstrap/scaffolding.html#responsive */
    padding-top: 0;
  }
}

dl.inline dt, dl.inline dd {
  float: left;
}

dl.inline dd + dt, dl.inline dd + dd {
  clear: left
}

dl.inline dd + dd {
  float: none
}

dl.inline dt {
  font-weight: bold
}

th.descending:after {
  padding-left: 5px;
  content: "▼";
}

th.ascending:after {
  padding-left: 5px;
  content: "▲";
}

th.unselected:after {
  padding-left: 5px;
  content: "　";
}

.inline .btn-toggle,
.table-condensed .btn-toggle {
  margin-bottom: -2px;
  margin-top: -5px;
  visibility: hidden;
}

.inline .zeroclipboard-is-hover,
.table-condensed .zeroclipboard-is-hover,
.flash dd:hover .btn-toggle,
.flash td:hover .btn-toggle {
  visibility: visible;
}

.zeroclipboard-is-hover {
  background-color: #e6e6e6;
  background-position: 0 -15px;
}

.zeroclipboard-is-active {
  background-image: none;
}

.badge-type {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: normal;
  padding-left: 4px;
  padding-right: 4px;
  text-shadow: none;
}

a.badge-type:hover {
  text-decoration: underline;
}

.table .text-right {
  text-align: right;
}

.well .inline:first-child {
  margin-top: 0;
}

.well .inline:last-child,
.well .table:last-child {
  margin-bottom: 0;
}

/* Force pointer cursor for anchors generated by Angular UI's pagination
 * directive. The links are generated without "href" attributes, which means
 * they don't match "a:link" and won't get the pointer cursor by default.
 */
.pagination a {
  cursor: pointer;
}
