<ul class="breadcrumb">
  <li>
    <a href="#">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#/slaves">Slaves</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#/slaves/{{slave_id}}">{{slaves[slave_id].hostname}}</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <em>browse</em>
  </li>
</ul>

<ul class="breadcrumb">
  <li>
    <em>Path:</em>
  </li>
  <li ng-repeat="dir in path.split('/')">
    <a href="#/slaves/{{slave_id}}/browse?path={{
             encodeURIComponent(path.split('/').slice(0, $index + 1).join('/'))}}">
      {{dir}}
    </a>
    <span class="divider">/</span>
  </li>
</ul>

<div class="alert alert-error hide" id="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>{{alert_message}}</strong>
</div>

<div class="row hide" id="listing">
  <div class="span9">
    <div class="well">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>mode</th>
            <th>nlink</th>
            <th>uid</th>
            <th>gid</th>
            <th>size</th>
            <th>mtime</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in listing">
          <td>{{file.mode}}</td>
          <td>{{file.nlink}}</td>
          <td>{{file.uid}}</td>
          <td>{{file.gid}}</td>
          <td>{{file.size | dataSize}}</td>
          <td>{{file.mtime * 1000 | unixDate}}</td>
          <td ui-if="file.mode[0] == 'd'" align="right">
            <a href="#/slaves/{{slave_id}}/browse?path={{encodeURIComponent(file.path)}}">
              {{basename(file.path)}}
            </a>
          </td>
          <td ui-if="file.mode[0] != 'd'" align="right">
            <a href="" ng-click="pail($event, encodeURIComponent(file.path))">
              {{basename(file.path)}}
            </a>
          </td>
          <td>
            <a ui-if="file.mode[0] != 'd'"
               href="http://{{slave_host}}/files/download.json?path={{encodeURIComponent(file.path)}}">
              <button class="btn btn-mini" type="button">download</button>
            </a>
          </td>
        </tr>
        <!-- Add a row to the bottom for a consistent look. -->
        <tr>
          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>