<ul class="breadcrumb">
  <li>
    <a class="badge badge-type" href="#">Master</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <span class="badge badge-type">Framework</span>
    {{framework.id}}
  </li>
</ul>

<div class="alert alert-error hide" id="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>{{alert_message}}</strong>
</div>

<div class="row hide" id="framework">
  <div class="span3">
    <div class="well">
      <dl class="inline clearfix">
        <dt>Name:</dt>
        <dd>{{framework.name}}</dd>
        <dt>User:</dt>
        <dd>{{framework.user}}</dd>
        <dt>Registered:</dt>
        <dd>
          <abbr title="{{framework.registered_time * 1000 | isoDate}}">
            {{framework.registered_time * 1000 | relativeDate}}</abbr>
          <button class="btn btn-mini btn-toggle"
              clipboard
              data-clipboard-text="{{framework.registered_time * 1000 | isoDate}}"
              tooltip="Copy timestamp"
              tooltip-placement="right"
              tooltip-trigger="clipboardhover">
          </button>
        </dd>
        <dt>Re-registered:</dt>
        <dd ng-show="!framework.reregistered_time">-</dd>
        <dd ng-show="framework.reregistered_time">
          <abbr title="{{framework.reregistered_time * 1000 | isoDate}}">
            {{framework.reregistered_time * 1000 | relativeDate}}</abbr>
          <button class="btn btn-mini btn-toggle"
              clipboard
              data-clipboard-text="{{framework.reregistered_time * 1000 | isoDate}}"
              tooltip="Copy timestamp"
              tooltip-placement="right"
              tooltip-trigger="clipboardhover">
          </button>
        </dd>
        <dt>Active tasks:</dt>
        <dd>{{framework.tasks.length | number}}</dd>
        <dt>CPUs:</dt>
        <dd>{{framework.resources.cpus | number}}</dd>
        <dt>Mem:</dt>
        <dd>{{framework.resources.mem * (1024 * 1024) | dataSize}}</dd>
      </dl>
    </div>
  </div>

  <div class="span9">
    <h3 id="frameworks">Active Tasks</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('active_tasks', 'id')"
              ng-click="selectColumn('active_tasks', 'id')">
            ID
          </th>
          <th ng-class="columnClass('active_tasks', 'name')"
              ng-click="selectColumn('active_tasks', 'name')">
            Name
          </th>
          <th ng-class="columnClass('active_tasks', 'state')"
              ng-click="selectColumn('active_tasks', 'state')">
            State
          </th>
          <th ng-class="columnClass('active_tasks', 'start_time')"
              ng-click="selectColumn('active_tasks', 'start_time')">
            Started
          </th>
          <th ng-class="columnClass('active_tasks', 'host')"
              ng-click="selectColumn('active_tasks', 'host')">
            Host
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in framework.tasks | orderBy:tables['active_tasks'].selected_column:tables['active_tasks'].reverse">
          <td>
            <a href="#/slaves/{{task.slave_id}}/frameworks/{{task.framework_id}}/executors/{{task.executor_id}}">
              {{task.id}}
            </a>
          </td>
          <td>{{task.name}}</td>
          <td>{{task.state | truncateMesosState}}</td>
          <td>
            <abbr title="{{task.start_time * 1000 | isoDate}}">
              {{task.start_time * 1000 | relativeDate}}</abbr>
            <button class="btn btn-mini btn-toggle"
              clipboard
              data-clipboard-text="{{task.start_time * 1000 | isoDate}}"
              tooltip="Copy start time"
              tooltip-placement="right"
              tooltip-trigger="clipboardhover">
            </button>
          </td>
          <td>
            <span data-ng-show="slaves[task.slave_id]">
              {{slaves[task.slave_id].hostname}}
            </span>
            <span class="muted" data-ng-show="!slaves[task.slave_id]">
              Slave offline
            </span>
          </td>
          <td>
            <a data-ng-show="slaves[task.slave_id]" href="#/slaves/{{task.slave_id}}/frameworks/{{task.framework_id}}/executors/{{task.executor_id}}/browse">
              Sandbox
            </a>
            <span class="muted" data-ng-show="!slaves[task.slave_id]">
              Slave offline
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 id="frameworks">Completed Tasks</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('completed_tasks', 'id')"
              ng-click="selectColumn('completed_tasks', 'id')">
            ID
          </th>
          <th ng-class="columnClass('completed_tasks', 'name')"
              ng-click="selectColumn('completed_tasks', 'name')">
            Name
          </th>
          <th ng-class="columnClass('completed_tasks', 'state')"
              ng-click="selectColumn('completed_tasks', 'state')">
            State
          </th>
          <th ng-class="columnClass('completed_tasks', 'start_time')"
              ng-click="selectColumn('completed_tasks', 'start_time')">
            Started
          </th>
          <th ng-class="columnClass('completed_tasks', 'finish_time')"
              ng-click="selectColumn('completed_tasks', 'finish_time')">
            Stopped
          </th>
          <th ng-class="columnClass('completed_tasks', 'host')"
              ng-click="selectColumn('completed_tasks', 'host')">
            Host
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in framework.completed_tasks | orderBy:tables['completed_tasks'].selected_column:tables['completed_tasks'].reverse">
          <td>{{task.id}}</td>
          <td>{{task.name}}</td>
          <td>{{task.state | truncateMesosState}}</td>
          <td>
            <abbr title="{{task.start_time * 1000 | isoDate}}">
              {{task.start_time * 1000 | relativeDate}}</abbr>
            <button class="btn btn-mini btn-toggle"
              clipboard
              data-clipboard-text="{{task.start_time * 1000 | isoDate}}"
              tooltip="Copy start time"
              tooltip-placement="right"
              tooltip-trigger="clipboardhover">
            </button>
          </td>
          <td>
            <abbr title="{{task.finish_time * 1000 | isoDate}}">
              {{task.finish_time * 1000 | relativeDate}}</abbr>
            <button class="btn btn-mini btn-toggle"
              clipboard
              data-clipboard-text="{{task.finish_time * 1000 | isoDate}}"
              tooltip="Copy finish time"
              tooltip-placement="right"
              tooltip-trigger="clipboardhover">
            </button>
          </td>
          <td>
            <a data-ng-show="slaves[task.slave_id]"
                href="#/slaves/{{task.slave_id}}/frameworks/{{task.framework_id}}/executors/{{task.executor_id}}">
              {{slaves[task.slave_id].hostname}}
            </a>
            <span class="muted" data-ng-show="!slaves[task.slave_id]">
              Slave offline
            </span>
          </td>
          <td>
            <a data-ng-show="slaves[task.slave_id]" href="#/slaves/{{task.slave_id}}/frameworks/{{task.framework_id}}/executors/{{task.executor_id}}/browse">
              Sandbox
            </a>
            <span class="muted" data-ng-show="!slaves[task.slave_id]">
              Slave offline
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
