<div class="modal hide fade" style="display: none;" id="no-log-dir-modal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Logging to a file is not enabled!</h3>
  </div>
  <div class="modal-body">
    <p>Set the 'log_dir' option if you wish to access the logs.</p>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div class="row">
  <div class="span3">
    <div class="well">
      <dl class="inline clearfix">
        <dt>Cluster:</dt>
        <dd>{{state.cluster}}</dd>
        <dt>Server:</dt>
        <dd>{{state.pid.split("@")[1]}}</dd>
        <dt>Built:</dt>
        <dd>
          <a href="" rel="popover" ng-click="popover($event, 'right')" data-content="{{state.build_time * 1000 | mesosDate}}" data-original-title="Built">
            {{state.build_time * 1000 | relativeDate}}
          </a> by <i>{{state.build_user}}</i>
        </dd>
        <dt>Started:</dt>
        <dd>
          <a href="" rel="popover" ng-click="popover($event, 'right')" data-content="{{state.start_time * 1000 | mesosDate}}" data-original-title="Started">
            {{state.start_time * 1000 | relativeDate}}
          </a>
        </dd>
        <dt>ID:</dt>
        <dd>
          <a href="" rel="popover" ng-click="popover($event, 'right')" data-content="{{state.id}}" data-original-title="ID">
            {{state.id | truncateMesosID}}
          </a>
        </dd>
      </dl>

      <p><a href="" ng-click="log($event)">LOG</a></p>

      <h3>Slaves</h3>
      <table class="table table-condensed">
        <tbody>
          <tr>
            <th>Activated</th>
            <td>{{activated_slaves | number}}</td>
          </tr>
          <tr>
            <th>Deactivated</th>
            <td>{{deactivated_slaves | number}}</td>
          </tr>
        </tbody>
      </table>

      <h3>Tasks</h3>
      <table class="table table-condensed">

        <tbody>
          <tr>
            <th>Staged</th>
            <td>{{staged_tasks | number}}</td>
          </tr>
          <tr>
            <th>Started</th>
            <td>{{started_tasks | number}}</td>
          </tr>
          <tr>
            <th>Finished</th>
            <td>{{finished_tasks | number}}</td>
          </tr>
          <tr>
            <th>Killed</th>
            <td>{{killed_tasks | number}}</td>
          </tr>
          <tr>
            <th>Failed</th>
            <td>{{failed_tasks | number}}</td>
          </tr>
          <tr>
            <th>Lost</th>
            <td>{{lost_tasks | number}}</td>
          </tr>
        </tbody>
      </table>

      <h3>Resources</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>CPUs</th>
            <th>Mem</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Total</th>
            <td>{{total_cpus | number}}</td>
            <td>{{total_mem * (1024 * 1024) | dataSize}}</td>
          </tr>
          <tr>
            <th>Used</th>
            <td>{{used_cpus | number}}</td>
            <td>{{used_mem * (1024 * 1024) | dataSize}}</td>
          </tr>
          <tr>
            <th>Offered</th>
            <td>{{offered_cpus | number}}</td>
            <td>{{offered_mem * (1024 * 1024) | dataSize}}</td>
          </tr>
          <tr>
            <th>Idle</th>
            <td>{{idle_cpus | number}}</td>
            <td>{{idle_mem * (1024 * 1024) | dataSize}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="span9">
    <h3>
      Active Frameworks
      <small>(<a href="#/frameworks">see all</a>)</small>
    </h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('frameworks', 'id')"
              ng-click="selectColumn('frameworks', 'id')">
            ID
          </th>
          <th ng-class="columnClass('frameworks', 'user')"
              ng-click="selectColumn('frameworks', 'user')">
            User
          </th>
          <th ng-class="columnClass('frameworks', 'name')"
              ng-click="selectColumn('frameworks', 'name')">
            Name
          </th>
          <th ng-class="columnClass('frameworks', 'tasks.length')"
              ng-click="selectColumn('frameworks', 'tasks.length')">
            Active Tasks
          </th>
          <th ng-class="columnClass('frameworks', 'resources.cpus')"
              ng-click="selectColumn('frameworks', 'resources.cpus')">
            CPUs
          </th>
          <th ng-class="columnClass('frameworks', 'resources.mem')"
              ng-click="selectColumn('frameworks', 'resources.mem')">
            Mem
          </th>
          <th ng-class="columnClass('frameworks', 'max_share')"
              ng-click="selectColumn('frameworks', 'max_share')">
            Max Share
          </th>
          <th ng-class="columnClass('frameworks', 'registered_time')"
              ng-click="selectColumn('frameworks', 'registered_time')">
            Registered
          </th>
          <th ng-class="columnClass('frameworks', 'reregistered_time')"
              ng-click="selectColumn('frameworks', 'reregistered_time')">
            Re-Registered
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="framework in _.values(frameworks) | orderBy:tables['frameworks'].selected_column:tables['frameworks'].reverse">
          <td>
            <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{framework.id}}" data-original-title="ID">
              {{framework.id | truncateMesosID}}
            </a>
          </td>
          <td>{{framework.user}}</td>
          <td><a href="{{'#/frameworks/' + framework.id}}">{{framework.name}}</a></td>
          <td>{{framework.tasks.length}}</td>
          <td>{{framework.resources.cpus | number}}</td>
          <td>{{framework.resources.mem * (1024 * 1024) | dataSize}}</td>
          <td>{{framework.max_share * 100 | number}}%</td>
          <td>
            <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{framework.registered_time * 1000 | mesosDate}}" data-original-title="Registered">
              {{framework.registered_time * 1000 | relativeDate}}
            </a>
          </td>
          <td>
            <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{framework.reregistered_time * 1000 | mesosDate}}" data-original-title="Reregistered">
              {{framework.reregistered_time * 1000 | relativeDate}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>
      Active Slaves
      <small>(<a href="#/slaves">see all</a>)</small>
    </h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('slaves', 'id')"
              ng-click="selectColumn('slaves', 'id')">
            ID
          </th>
          <th ng-class="columnClass('slaves', 'hostname')"
              ng-click="selectColumn('slaves', 'hostname')">
            Host
          </th>
          <th ng-class="columnClass('slaves', 'resources.cpus')"
              ng-click="selectColumn('slaves', 'resources.cpus')">
            CPUs
          </th>
          <th ng-class="columnClass('slaves', 'resources.mem')"
              ng-click="selectColumn('slaves', 'resources.mem')">
            Mem
          </th>
          <th ng-class="columnClass('slaves', 'resources.disk')"
              ng-click="selectColumn('slaves', 'resources.disk')">
            Disk
          </th>
          <th ng-class="columnClass('slaves', 'registered_time')"
              ng-click="selectColumn('slaves', 'registered_time')">
            Registered
          </th>
        </tr>
      </thead>
      <tr ng-repeat="slave in _.values(slaves) | orderBy:tables['slaves'].selected_column:tables['slaves'].reverse">
        <td>
          <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{slave.id}}" data-original-title="ID">
            {{slave.id | truncateMesosID}}
          </a>
        </td>
        <td>
          <a href="#/slaves/{{slave.id}}">
            {{slave.hostname}}
          </a>
        <td>{{slave.resources.cpus | number}}</td>
        <td>{{slave.resources.mem * (1024 * 1024) | dataSize}}</td>
        <td>{{slave.resources.disk * (1024 * 1024) | dataSize}}</td>
        <td>
          <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{slave.registered_time * 1000 | mesosDate}}" data-original-title="Registered">
            {{slave.registered_time * 1000 | relativeDate}}
          </a>
        </td>
      </tr>
    </table>

    <h3>Offers</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('offers', 'id')"
              ng-click="selectColumn('offers', 'id')">
            ID
          </th>
          <th ng-class="columnClass('offers', 'framework_name')"
              ng-click="selectColumn('offers', 'framework_name')">
            Framework
          </th>
          <th ng-class="columnClass('offers', 'hostname')"
              ng-click="selectColumn('offers', 'hostname')">
            Host
          </th>
          <th ng-class="columnClass('offers', 'resources.cpus')"
              ng-click="selectColumn('offers', 'resources.cpus')">
            CPUs
          </th>
          <th ng-class="columnClass('offers', 'resources.mem')"
              ng-click="selectColumn('offers', 'resources.mem')">
            Mem
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="offer in _.values(offers) | orderBy:tables['offers'].selected_column:tables['offers'].reverse">
          <td>
            <abbr title="{{offer.id}}">{{offer.id | truncateMesosID}}</abbr>
          </td>
          <td><a href="{{'#/framework/' + offer.framework_id}}">{{offer.framework_name}}</a></td>
          <td>
            <a href="#/slaves/{{slaves[offer.slave_id].id}}">
              {{offer.hostname}}
            </a>
          </td>
          <td>{{offer.resources.cpus | number}}</td>
          <td>{{offer.resources.mem * (1024 * 1024) | dataSize}}</td>
        </tr>
      </tbody>
    </table>

    <h3>Terminated Frameworks</h3>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('completed_frameworks', 'id')"
              ng-click="selectColumn('completed_frameworks', 'id')">
            ID
          </th>
          <th ng-class="columnClass('completed_frameworks', 'user')"
              ng-click="selectColumn('completed_frameworks', 'user')">
            User
          </th>
          <th ng-class="columnClass('completed_frameworks', 'name')"
              ng-click="selectColumn('completed_frameworks', 'name')">
            Name
          </th>
          <th ng-class="columnClass('completed_frameworks', 'registered_time')"
              ng-click="selectColumn('completed_frameworks', 'registered_time')">
            Registered
          </th>
          <th ng-class="columnClass('completed_frameworks', 'unregistered_time')"
              ng-click="selectColumn('completed_frameworks', 'unregistered_time')">
            Unregistered
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="framework in _.values(completed_frameworks) | orderBy:tables['completed_frameworks'].selected_column:tables['completed_frameworks'].reverse">
          <td>
            <abbr title="{{framework.id}}">{{framework.id | truncateMesosID}}</abbr>
          </td>
          <td>{{framework.user}}</td>
          <td><a href="{{'#/frameworks/' + framework.id}}">{{framework.name}}</a></td>
          <td>
            <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{framework.registered_time * 1000 | mesosDate}}" data-original-title="Registered">
              {{framework.registered_time * 1000 | relativeDate}}
            </a>
          </td>
          <td>
            <a href="" rel="popover" ng-click="popover($event, 'bottom')" data-content="{{framework.unregistered_time * 1000 | mesosDate}}" data-original-title="Unregistered">
              {{framework.unregistered_time * 1000 | relativeDate}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
