<ul class="breadcrumb">
  <li>
    <a href="#">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#/slaves">Slaves</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#/slaves/{{slave_id}}">{{state.hostname}}</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="#/slaves/{{slave_id}}/frameworks/{{framework_id}}">
      {{framework.name}}
    </a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <em>{{executor_id}}</em>
  </li>
</ul>

<div class="alert alert-error hide" id="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>{{alert_message}}</strong>
</div>

<div class="row hide" id="slave">
  <div class="span3">
    <div class="well">
      <dl class="inline clearfix">
        <dt>Executor ID:</dt>
        <dd>{{executor_id}}</dd>
        <dt>Executor Name:</dt>
        <dd>{{executor.name}}</dd>
        <dt>Executor Source:</dt>
        <dd>{{executor.source}}</dd>
      </dl>

      <dl class="inline clearfix">
        <dt>Cluster:</dt>
        <dd>{{cluster}}</dd>
        <dt>Master:</dt>
        <dd>{{state.master_hostname}}</dd>
        <dt>Framework ID:</dt>
        <dd>
          <a href="" rel="popover" ng-click="popover($event, 'right')" data-content="{{framework_id}}" data-original-title="ID">
            {{framework_id | truncateMesosID}}
          </a>
        </dd>
      </dl>

      <dl class="inline clearfix">
        <dt>Active Tasks:</dt>
        <dd>{{executor.tasks.length | number}}</dd>
      </dl>

      <h2>Resources</h2>
      <table class="table table-condensed">
        <tbody>
          <th>
            <td>Used</td>
            <td>Allocated</td>
          </th>
          <tr>
            <th>CPUs</th>
            <td>{{monitor[framework.id][executor.id].resource_usage.cpu_usage | number}}</td>
            <td>{{executor.resources.cpus | number}}</td>
          </tr>
          <tr>
            <th>Mem</th>
            <td>{{monitor[framework.id][executor.id].resource_usage.memory_rss | dataSize}}</td>
            <td>{{executor.resources.mem * (1024 * 1024) | dataSize}}</td>
          </tr>
          <tr>
            <th>Disk</th>
            <td>{{executor.resources.disk * (1024 * 1024) | dataSize}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="span9">
    <h2>Queued Tasks</h2>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('queued_tasks', 'id')"
              ng-click="selectColumn('queued_tasks', 'id')">
            <a href="">ID</a>
          </th>
          <th ng-class="columnClass('queued_tasks', 'name')"
              ng-click="selectColumn('queued_tasks', 'name')">
            <a href="">Name</a>
          </th>
          <th ng-class="columnClass('queued_tasks', 'resources.cpus')"
              ng-click="selectColumn('queued_tasks', 'resources.cpus')">
            <a href="">CPUs</a>
          </th>
          <th ng-class="columnClass('queued_tasks', 'resources.mem')"
              ng-click="selectColumn('queued_tasks', 'resources.mem')">
            <a href="">Mem</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="queued_task in _.values(executor.queued_tasks) | orderBy:tables['queued_tasks'].selected_column:tables['queued_tasks'].reverse">
          <td>{{queued_task.id}}</td>
          <td>{{queued_task.name}}</td>
          <td>{{queued_task.resources.cpus | number}}</td>
          <td>{{queued_task.resources.mem * (1024 * 1024) | dataSize}}</td>
        </tr>
      </tbody>
    </table>

    <h2>Tasks</h2>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('tasks', 'id')"
              ng-click="selectColumn('tasks', 'id')">
            <a href="">ID</a>
          </th>
          <th ng-class="columnClass('tasks', 'name')"
              ng-click="selectColumn('tasks', 'name')">
            <a href="">Name</a>
          </th>
          <th ng-class="columnClass('tasks', 'state')"
              ng-click="selectColumn('tasks', 'state')">
            <a href="">State</a>
          </th>
          <th ng-class="columnClass('tasks', 'resources.cpus')"
              ng-click="selectColumn('tasks', 'resources.cpus')">
            <a href="">CPUs (allocated)</a>
          </th>
          <th ng-class="columnClass('tasks', 'resources.mem')"
              ng-click="selectColumn('tasks', 'resources.mem')">
            <a href="">Mem (allocated)</a>
          </th>
          <th>Executor Sandbox</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in _.values(executor.tasks) | orderBy:tables['tasks'].selected_column:tables['tasks'].reverse">
          <td>{{task.id}}</td>
          <td>{{task.name}}</td>
          <td>{{task.state}}</td>
          <td>{{task.resources.cpus | number}}</td>
          <td>{{task.resources.mem * (1024 * 1024) | dataSize}}</td>
          <td>
            <a href="{{'#/slaves/' + slave_id + '/browse?path=' +
                       encodeURIComponent(executor.directory)}}">
              browse
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <h2>Completed Tasks</h2>
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th ng-class="columnClass('completed_tasks', 'id')"
              ng-click="selectColumn('completed_tasks', 'id')">
            <a href="">ID</a>
          </th>
          <th ng-class="columnClass('completed_tasks', 'name')"
              ng-click="selectColumn('completed_tasks', 'name')">
            <a href="">Name</a>
          </th>
          <th ng-class="columnClass('completed_tasks', 'state')"
              ng-click="selectColumn('completed_tasks', 'state')">
            <a href="">State</a>
          </th>
          <th ng-class="columnClass('completed_tasks', 'resources.cpus')"
              ng-click="selectColumn('completed_tasks', 'resources.cpus')">
            <a href="">CPUs (allocated)</a>
          </th>
          <th ng-class="columnClass('completed_tasks', 'resources.mem')"
              ng-click="selectColumn('completed_tasks', 'resources.mem')">
            <a href="">Mem (allocated)</a>
          </th>
          <th>Executor Sandbox</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="completed_task in _.values(executor.completed_tasks) | orderBy:tables['completed_tasks'].selected_column:tables['completed_tasks'].reverse">
          <td>{{completed_task.id}}</td>
          <td>{{completed_task.name}}</td>
          <td>{{completed_task.state}}</td>
          <td>{{completed_task.resources.cpus | number}}</td>
          <td>{{completed_task.resources.mem * (1024 * 1024) | dataSize}}</td>
          <td>
            <a href="{{'#/slaves/' + slave_id + '/browse?path=' +
                       encodeURIComponent(executor.directory)}}">
              browse
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
