body {
  padding-bottom: 40px;
}

.topnav {
	background: #f5f5f5;
}

ul.breadcrumb {
	margin: auto;
	width: 940px;
}

pre {
    overflow-x: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

/* Custom container */
.container > hr {
  margin: 20px 0;
}

.container {
	width: 940px;
}

/* Main marketing message and sign up button */
.homepage.jumbotron {
	padding: 10px 0px;
	background: #fff;
	padding-right: 0;
}
.homepage.jumbotron h1 {
	padding: 50px 0 10px 0;
  font-size: 30px;
  line-height: 1;
}
.homepage.jumbotron .lead {
  font-size: 18px;
  line-height: 1.25;
	margin-bottom: 50px;
	padding-right: 65px;
}

.homepage-featured {
  /*margin-left: 0;
  margin-right: 0;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  padding: 50px 0;*/
  margin: 0 -5px 5px;
  padding: 45px 15px 45px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.homepage-featured:after {
  position: absolute;
  top: 65px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Upcoming Event";
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.homepage.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

.download {
  padding: 50px 0px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar {
	position: relative;
  z-index: 0;
}

.navbar .navbar-inner {
  padding: 0;
	background: #004561;
	height: 120px;
}

.navbar .nav, .navbar .nav a {
	margin: 0;
}

.container .logo {
	display: block;
	float: left;
	padding: 15px 0;
}

.container .nav {
	padding: 30px 0 0 0;
	color: #fff;
}

.navbar .nav li a {
	text-align: center;
	padding: 20px 0 15px 15px;
	margin: 0 10px;
	color: rgba(255, 255, 255, .9);
}

.navbar .nav li a:hover {
	color: rgba(255, 255, 255, 1);
	background: none;
}

.splash {
  display:block;
}

.author_contact {
	display: inline-block;
}

.author_gravatar {
	display: inline;
	padding: 0 20px 20px 5px;
}

.share {
	display: block;
}
