body {
  padding-bottom: 40px;
}
.container {
  max-width:940px;
}

img {
  max-width:100%;
}

/* Main marketing message and sign up button */
.homepage.jumbotron {
  padding: 10px 0px;
  background: #fff;
  padding-right: 0;
}
.homepage.jumbotron h1 {
  padding: 50px 0 10px 0;
  font-size: 30px;
  line-height: 1;
}
.homepage.jumbotron .lead {
  font-size: 18px;
  line-height: 1.25;
  margin-bottom: 50px;
}

.homepage-featured {
  margin: 0 -5px 5px;
  padding: 45px 15px 45px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right:0px;
}

.homepage-featured:after {
  position: absolute;
  top: 65px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Upcoming Event";
}

.nopadding {
 padding: 0 !important;
 margin: 0 !important;
}

.homepage.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

.download {
  padding: 50px 0px 25px;
}

.navbar {
  background: #004561;
  min-height:120px;
}

.navbar-brand {
  min-height:120px
}

.navbar .nav li a {
  color: #FFF;
}

.navbar .nav li a:hover {
  color: #CCC;
  background: none;
}

.navbar-header {
  height:120px;
}

.navbar-toggle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top:0;
}

.splash {
  display:block;
}

.author_contact {
  display: inline-block;
}

.author_gravatar {
  display: inline;
  padding: 0 20px 20px 5px;
}

.share {
  display: block;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#FFF;
}

.navbar-default .navbar-toggle:focus .icon-bar {
  background-color:#000;
}

@media (min-width: 992px) {
  .navbar .nav li a {
    height:120px;
    line-height:120px;
    padding:0 15px 0;
  }
}

.footer .copyright {
  color:#999;
}