pre {
    overflow-x: auto;
}

pre code {
    word-wrap: normal;
    white-space: pre;
}

img {
  max-width:100%;
}

.container {
  max-width: 1130px;
}

/* Navigation bars. */
.topnav {
  background: #f5f5f5;
}

.topnav > .container,
.navbar > .container {
  max-width: 1016px;
}

.topnav .breadcrumb {
  padding: 8px 0px;
  margin: auto;
}

.topnav a {
  color: #183751;
}

.topnav a:hover {
  color: #47ABE2;
}

.topnav a:hover,
.topnav a:focus {
  text-decoration: none;
}

.navbar {
  background-image: url('../../assets/img/background_image.png');
  min-height:120px;
  z-index: 0;
  margin-bottom: 0px;
}

.navbar-brand {
  min-height:120px;
}

.navbar-brand > img {
  float: left;
}

.navbar .nav {
  padding: 30px 0 0 0;
  color: #fff;
}

.navbar .nav li a {
  text-align: center;
  padding: 20px 0 15px 15px;
  margin: 0 10px;
  color: rgba(255, 255, 255, .9);
}

.navbar .nav li a:hover {
  color: rgba(255, 255, 255, 1);
  background: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar .nav li a {
    padding: 8px 0 15px 8px;
  }
}

.navbar-header {
  height:120px;
}

.navbar-toggle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top:0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#FFF;
}

.navbar-default .navbar-toggle:focus .icon-bar {
  background-color:#000;
}

.navbar-default .navbar-collapse {
  border-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

/* Jumbotron part. */
.jumbotron {
  background: none;
  max-width: 748px;
  margin: 45px auto 90px auto;
}

.container .jumbotron {
  padding: 0px;
}

.jumbotron > h1 {
  font-size: 40px;
  font-family: HelveticaNeue-Light,Helvetica,Arial,sans-serif;
  line-height: 1.2;
  color: white;
  text-align: center;
  padding: 0;
  margin-bottom: 28px;
}

.jumbotron > .lead {
  line-height: 1.25;
  color: white;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.8px;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .jumbotron > .lead {
    font-weight: 200;
  }
}

.jumbotron p {
  text-align: center;
  margin-bottom: 0px;
}

.jumbotron .btn.download {
  border-radius: 30px;
  font-size: 16px;
  padding: 11px 28px;
  margin-bottom: 4px;
}

.jumbotron .btn.download {
  color: #333333;
}

.jumbotron .btn.download:hover,
.jumbotron .btn.download:focus {
  color: #4EADE2;
}

.jumbotron a.changelog {
  font-size: 15px;
  display: inline-block;
  color: white;
}

.jumbotron a.changelog:hover,
.jumbotron a.changelog:focus {
  color: #4EADE2;
  text-decoration: none;
}

.content > .container {
  margin-top: 20px;
  max-width: 1016px;
}

/* Features list. */
.feature-list-group {
  background-color: #F7F7F7;
  padding-top: 76px;
  padding-bottom: 61px;
}

.feature-list-group .header {
  text-align: center;
}

.feature-list-group .header > h3 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 26px;
}

.feature-list-group .header .lead {
  color: #777777;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  margin-bottom: 55px;
}

.feature-list {
  margin-bottom: 25px;
}

.feature-item h4 {
  color: #4EADE2;
  font-family: HelveticaNeue-Medium,Helvetica,Arial,sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.feature-item p {
  font-family: HelveticaNeue-Light,Helvetica,Arial,sans-serif;
  font-size: 15px;
}

@media (max-width: 767px) {
  .feature-list-group {
    padding: 36px 9px 6px 9px;
  }

  .feature-list {
    margin-bottom: 0px;
  }

  .feature-item {
    margin-bottom: 48px;
  }
}

/* Footer. */
.footer {
  padding-top: 48px;
  padding-bottom: 42px;
}

.social-blk {
  float: right;
}

@media (max-width: 767px) {
  .social-blk {
    float: left;
    width: 100%;
    margin-bottom: 32px;
  }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.splash {
  display:block;
}

.author_contact {
  display: inline-block;
}

.author_gravatar {
  display: inline;
  padding: 0 20px 20px 5px;
}

.share {
  display: block;
}

*:hover > .anchorjs-link {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.anchorjs-link {
  color: black;
  font-size: 0.8em;
}

.thumbnail > img {
  height: 200px;
}
