listen webfarm ec2-174-129-94-218.compute-1.amazonaws.com:80
       timeout server 7500
       timeout client 7500
       timeout connect 7500
       mode http
       balance roundrobin
       option httpchk HEAD /index.html HTTP/1.0
       stats uri /stats
